<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- CSS -->
    <link href="../../css/materialize.min.css" rel="stylesheet">

</head>
<header></header>
<body>
<div class="center-align"><b><h1>404</h1></b></div>
<div class="center-align"><h2>Page not found</h2></div>
</body>
</html>